:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  width: 100vw;
  max-width: 100%;
  background-color: #003366;
  color: #fff;
}

h1,
h2 {
  color: #00a8e8;
}

input {
  background-color: #1a1a1a;
  border: none;
  color: #fff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #bc8725;
  color: #fff;
  cursor: pointer;
}

tr:nth-child(n) {
  background: #2c2f3b;
}

tr:nth-child(2n) {
  background: #0f141f;
}

td {
  padding: 0.4em;
}